# Ignorar ficheiros temporários
*.swp
*.swo
*~

# Ignorar backups e sessões
nvim/undo/
nvim/swap/
nvim/backup/
nvim/sessions/
nvim/lazy-lock.json

# Ignorar plugins instalados dinamicamente
nvim/autoload/plugged/
nvim/lazy/

